html {
    height: 100%;
}
body {
    margin:0; padding:0;
    height: 100%;
}
.page-footer{
    position: relative;
    z-index: 1;
    bottom: 0;
    width: 100%;
    height: 5%;
    padding: 0;
}
.page-footer .footer-copyright {
    padding: 0;
    min-height: 35px;
    height: 100%;
}

/* Home */
#home {
    height: 95%;
}
#home .row {
    height: 100%;
}
#home .row .s12{
    padding: 0;
}
#home #map {
    position:absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 95%;
    z-index: 0;
}

/* Hot Videos */
#hot_videos {
    height: 95%;
}
#hot_videos .row {
    height: 100%;
}
#hot_videos .row .s3 {
    position: relative;
    z-index: 1;
    height: 100%;
    box-shadow: 1px 0px 10px #00000061;
}
#hot_videos .row .s3 #search_area {
    margin-bottom: 20px;
}
#hot_videos .row .s3 #search_area form .row .input-field {
    margin-top: 25px;
}
#hot_videos .row .s3 #search_area form .row .s12 button {
    width: 90%;
}
#hot_videos .row .s3 #hot_videos_list .card .card-content {
    padding: 16px;
    font-size: 16px;
}
#hot_videos .row .s3 #hot_videos_list .card .card-title {
    font-weight: 500;
}
#hot_videos .row .s3 #hot_videos_list .collection {
    border: 0;
    height: 100%;
    overflow: scroll;
}
#hot_videos .row .s3 #hot_videos_list .collection #list_title {
    text-align: center;
}
#hot_videos .row .s3 #hot_videos_list .collection #list_title span {
    position: relative;
    bottom: 5px;
    font-size: 18px;
}
#hot_videos .row .s3 #hot_videos_list .collection .collection-item iframe {
    width: 100%;
}
#hot_videos .row .s3 #hot_videos_list .collection .collection-item p {
    margin: 0;
} 
#hot_videos .row .s3 #hot_videos_list .collection .collection-item .title {
    font-size: 16px;
    font-weight: bold;
}
#hot_videos .row .s3 #hot_videos_list .collection .collection-item .channel_title {
    font-size: 14px;
    color: #111111cc;
}
#hot_videos .row .s3 #hot_videos_list .collection .collection-item .view_count {
    font-size: 14px;
    color: #111111cc;
}
#hot_videos .row .s3 #hot_videos_list .collection .collection-item .secondary-content {
    color: #ef5350;
}
#hot_videos .row .s9 {
    height: 100%;
    padding: 0;
}
#hot_videos .row .s9 #map {
    position:absolute;
    top: 0;
    bottom: 0;
    width: 75%;
    height: 95%;
    z-index: 0;
}
#hot_videos #toast-container {
    left: 1%;
    top: 60%;
    width: 50%;
}

/* Top Videos */
#top_videos {
    height: 95%;
}
#top_videos .row {
    /* height: 100%; */
}
#top_videos .vertical-s9 {
    height: 75%;
    margin-bottom: auto;
}
#top_videos .vertical-s9 #map {
    position: relative;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
#top_videos .vertical-s9 #mode {
    position: absolute;
    top: 0;
    margin-top: 1%;
    width: 100%;
}
#top_videos .vertical-s9 #mode a {
    margin-left: 1%;
}
#top_videos .vertical-s3 {
    position: relative;
    height: 25%;
    margin-bottom: auto;
    box-shadow: 0px -3px 10px #00000061;
    z-index: 1;
}