#home
  .row
    .col.s12
      #map


javascript:
  $(document).ready(function(){
    
  });

  mapboxgl.accessToken = "#{mapbox_token}"
  var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v9',
      center: [120.946, 23.754],
      zoom: 1,
      maxZoom: 5,
      minZoom: 1
  });

  console.log(#{ trending_list })

  var popup = new mapboxgl.Popup({closeOnClick: false})
    .setLngLat([-96, 37.8])
    .setHTML('<p>Hello World!</p>')
    .addTo(map);