#trending_map
  .row
      .col.s3
        form id="form" action="/trending_map" method="POST"
          .row
            .input-field.col.s12
              input {
                type='text' name='country_name'
                id='country_name_input'
                class="autocomplete"
                placeholder="Search a country"
              }
              label for="country_name_input" Country
            .input-field.col.s12
              select id="select_category"
                <option value="" disabled selected>Choose a category</option>
              label Video category
      .col.s9
        #map


javascript:
  var data_categories = "#{ categories.to_json }".replace(/&quot;/g,'"').replace(/&amp;/g, '&');
  
  var data_countries = "#{ countries }".replace(/&quot;/g,'').replace(/&#39;/g, '\'');
  data_countries = data_countries.slice(2, data_countries.length - 2).split(', ');
  var countries_obj = new Object();
  data_countries.forEach(function(ele){
    countries_obj[ele] = null;
  });

  $(document).ready(function(){
    $('input.autocomplete').autocomplete({
      data: countries_obj,
      /*
      select: function(event, ui) { 
        $("#form").submit(); 
      }
      */
    });

    $.each(JSON.parse(data_categories), function(key, value) {  
      $('#select_category').append(
        $("<option></option>").attr("value",key).text(value)
      ); 
    });
    $('#select_category').formSelect();
  });

  mapboxgl.accessToken = "#{mapbox_token}"
  var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v9',
      center: [-68.13734351262877, 45.137451890638886],
      zoom: 5
  });

  map.on('load', function () {
      map.addLayer({
          'id': 'maine',
          'type': 'fill',
          'source': {
              'type': 'geojson',
              'data': {
                  'type': 'Feature',
                  'geometry': {
                      'type': 'Polygon',
                      'coordinates': [[[-67.13734351262877, 45.137451890638886],
                          [-66.96466, 44.8097],
                          [-68.03252, 44.3252],
                          [-69.06, 43.98],
                          [-70.11617, 43.68405],
                          [-70.64573401557249, 43.090083319667144],
                          [-70.75102474636725, 43.08003225358635],
                          [-70.79761105007827, 43.21973948828747],
                          [-70.98176001655037, 43.36789581966826],
                          [-70.94416541205806, 43.46633942318431],
                          [-71.08482, 45.3052400000002],
                          [-70.6600225491012, 45.46022288673396],
                          [-70.30495378282376, 45.914794623389355],
                          [-70.00014034695016, 46.69317088478567],
                          [-69.23708614772835, 47.44777598732787],
                          [-68.90478084987546, 47.184794623394396],
                          [-68.23430497910454, 47.35462921812177],
                          [-67.79035274928509, 47.066248887716995],
                          [-67.79141211614706, 45.702585354182816],
                          [-67.13734351262877, 45.137451890638886]]]
                  }
              }
          },
          'layout': {},
          'paint': {
              'fill-color': '#088',
              'fill-opacity': 0.8
          }
      });
  });